<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    @import "../../static/public/css/commons.css";
</style>
<script type="text/javascript" src="../../static/public/js/common.js"></script>
<!--index-->
<link rel="stylesheet" href="../../static/css/index/index.css">
<script type="text/javascript" src="../../static/js/kjsj/kjTest.js"></script>
<body>

<div id="app">

    <div style="width: 300px;margin-left: 10%;">
        <Cascader :data="data" trigger="hover" filterable   :render-format="format"></Cascader>
    </div>
</div>

</body>
</html>