<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rep.cloud.custom.basicdata.mapper.RepCityMapper">
    <select id="pagelist" resultType="cn.rep.cloud.custom.basicdata.entity.RepCity">
        select * from rep_city ct
        <where>
        </where>
    </select>
    <select id="getCityList" resultType="cn.rep.cloud.custom.basicdata.vo.RepCityVO">
        select t.bh,t.mc,left(ywmc,'1') as firstZ,t.* from rep_city t
        <where>
            <if test="dto.gngj != '' and dto.gngj != null">
                and t.gngj = #{dto.gngj}
            </if>
            <if test="dto.sfrm != '' and dto.sfrm != null">
                and t.sfrm = #{dto.sfrm}
            </if>
        </where>
    </select>

    <select id="getPageCityList" resultType="cn.rep.cloud.custom.basicdata.entity.RepCity">
        select t.bh,t.mc from rep_city t
        <where>
            and t.gngj = '1'
            <!--<if test="dto.gngj != '' and dto.gngj != null">-->
                <!--and t.gngj = #{dto.gngj}-->
            <!--</if>-->
            <if test="dto.gjz != '' and dto.gjz != null">
                <bind name="gjz" value="'%'+dto.gjz+'%'"/>
                and (t.mc LIKE #{gjz}) or (t.ywmc = #{dto.gjz}) or (t.pyjsm = #{dto.gjz})
            </if>
        </where>
    </select>

    <select id="getCityListBySfid" resultType="cn.rep.cloud.custom.basicdata.vo.BasicDataBean" parameterType="String">
        select bh as 'value',mc as label from rep_city where szsf = #{szsf} and by3 = ''
    </select>

    <select id="getCityListBySjid" resultType="cn.rep.cloud.custom.basicdata.vo.RepCountryVO" parameterType="String">
        select bh as 'value',mc as label from rep_city where by3 = #{sjid}
    </select>
</mapper>