<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>员工列表</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../../static/public/js/common.js"></script>
    <script type="text/javascript" src="../../static/js/organizationa/employeeList.js"></script>
    <style>
        @import "../../static/public/css/commons.css";
        .conditions>div>div{
            margin-bottom: 10px;
        }
        .conditions>div>div>div{
            margin-bottom: 10px;
        }
        .sqxq{
            top: -20px;
            position: relative;
            left: 90%;
        }
        .more-conditions{
            height: 0px;
        }
        .sbyy{
            display: none;
        }
        .sc-footer{
            display: none;
        }
        .upload-modal.vetech-modal .ivu-modal{
            height: 450px;
        }
    </style>
</head>
<body class="bodyClass">
<div id="app" v-cloak>
    <div class="tree" id="my-box" >
        <i-form ref="queryForm" :inline="false" :model="iquery" :show-message="false" @keydown.native.enter.prevent ="keyDownEvent">
            <Row>
                <i-col :sm="20" :md="20" :lg="20">
                    <i-input class="sreach" type="text" icon="ios-search"  ></i-input>
                </i-col>
            </Row>
            <div class="tree-box">
                <Tree ref="tree4" :data="treeNode" @on-select-change="checkedTreeNode"></Tree>
            </div>
        </i-form>
    </div>
    <div class="tree-content">
        <div>
            <Breadcrumb v-if = "breadList.length > 0">
                <breadcrumb-item v-for="item in breadList">{{item}}</breadcrumb-item>
            </Breadcrumb>
            <div>
                <div class="mt10" v-if = "breadList.length > 1">
                    <Breadcrumb style="display: inline-block;">
                        <breadcrumb-item>{{breadList[breadList.length-1]}}</breadcrumb-item>
                    </Breadcrumb>
                    <Icon class="f17 primary cur-pointer" type="md-create" @click="editBms(bmvo.id)" />
                </div>
                <div class="conditions mb10 mt10"style="border-bottom: 1px #f2f2f2 solid;">
                    <Row>
                        <i-col span="12">
                            <label class="ltitle">部门编号：</label>
                            <span class="lvalue">{{bmvo.bh}}</span>
                        </i-col>
                        <i-col span="12">
                            <label class="ltitle">上级部门：</label>
                            <span class="lvalue">{{bmvo.sjbmmc}}</span>
                        </i-col>
                        <i-col span="12">
                            <label class="ltitle">部门负责人：</label>
                            <span class="lvalue">{{bmvo.bmfzrmc}}</span>
                        </i-col>
                        <i-col span="12">
                            <label class="ltitle">部门电话：</label>
                            <span class="lvalue">{{bmvo.bmdh}}</span>
                        </i-col>
                        <div  v-show="showMore">
                            <i-col span="12">
                                <label class="ltitle">部门名称：</label>
                                <span class="lvalue">{{bmvo.jc}}</span>
                            </i-col>
                            <i-col span="12">
                                <label class="ltitle">所属公司：</label>
                                <span class="lvalue">{{bmvo.ssgsmc}}</span>
                            </i-col>
                            <i-col span="12">
                                <label class="ltitle">所在地：</label>
                                <span class="lvalue">{{bmvo.xxszdz}}</span>
                            </i-col>
                            <i-col span="12">
                                <label class="ltitle">财务主管：</label>
                                <span class="lvalue">{{bmvo.cwzgmc}}</span>
                            </i-col>
                        </div>
                    </Row>
                    <div class="more-conditions">
                    <span class="sqxq primary pointer" v-if="showMore" @click="showMore=false">
                         <span>收起</span><Icon type="ios-arrow-up" />
                    </span>
                        <span class="sqxq primary pointer" v-else @click="showMore=true">
                      <span>查看更多</span><Icon type="ios-arrow-down" />
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <i-form ref="queryForm" :inline="false" :model="iquery" :show-message="false" @keydown.native.enter.prevent ="keyDownEvent">
            <div class="pb10">
                <i-button icon="md-add" type="primary" @click="addEmp=true">新增员工</i-button>
                <button-group>
                    <i-button @click="saveEmp">新建部门</i-button>
                    <i-button @click="matchUpload">批量导入员工</i-button>
                </button-group>
                <i-input placeholder="请输入..." icon="ios-search" style="max-width: 200px;"></i-input>
            </div>
        </i-form>
        <i-table :columns="dataColumns" :data="pagedata" height="400" :loading="igrid.loading"></i-table>
        <Page class="pt20" :current="1" :page-size="ipage.size" :total="ipage.total" show-total  ></Page>
        <modal title="批量导入员工" width="600" v-model="upload" class="upload-modal vetech-modal" :mask-closable="false">
            <div>
                <div class="kssc">
                    <p>上传之前,请先<span class="pointer primary" @click="download">下载模板</span>。</p></br>
                    <p>注意：第一行为示例，第二行为标头，禁止更改行列和编码信息。请从第三行开始填写需要导入的数据。</p></br></br>
                    <Upload :on-progress="scProgress"
                            :on-success="scSuccess"
                            multiple
                            type="drag"
                            action="/custom/repEmployee/uploadEmpBatch">
                        <div style="padding: 20px 0">
                            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                            <p>点击或者将文件拖入这里上传</p>
                        </div>
                    </Upload>
                </div>
                <div class="sbyy">
                    <p>上传成功条数<span style="color: red">{{sc.successCount}}</span>条</p></br>
                    <p>上传失败条数<span style="color: red">{{sc.failCount}}</span>条</p></br>
                    <p v-for="(item,index) in sc.failBeanList">{{index}}、<span>工号：{{item.bh}}</span>
                        <span class="ml10">姓名：{{item.mc}}</span>
                        <span class="ml10">失败原因：{{item.message}}</span></p></br>
                </div>
                <Spin size="large" fix v-if="loading"></Spin>
            </div>
            <p class="sc-footer" slot="footer">
                <i-button type="info" @click="matchUpload">继续上传</i-button>
                <i-button @click="upload = false">关闭</i-button>
            </p>
        </modal>
        <Modal width="70%" ok-text="保存" @on-ok="saveDept" :loading="adddeptload" @on-cancel="cancelDept" v-model="addDept" class="vetech-modal" title="新增部门" :mask-closable="false">
            <i-form ref="saveBmDatas" :model="saveBmData" :inline="false" :label-width="80" :rules="formSaveBmRule" :show-message="true">
                <Row>
                    <div>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="所属公司">
                                <!--<pulldown  v-if="addDept" v-model="saveBmData.ssgsid" class="demo-input" data-type="1" :data-source="compList" @on-change="compChange"></pulldown>-->
                                {{breadList[0]}}
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="上级部门">
                                <pulldown  v-if="addDept" v-model="saveBmData.sjid" class="demo-input" data-type="1" :data-source="deptList" @on-change="deptChange"></pulldown>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="部门名称" prop="mc">
                                <i-input v-model="saveBmData.mc" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="部门简称" prop="jc">
                                <i-input v-model="saveBmData.jc" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="部门编号" prop="bh">
                                <i-input v-model="saveBmData.bh" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="负责人" prop="bmfzr">
                                <pulldown v-if="addDept" v-model="saveBmData.bmfzr" class="demo-input" data-type="1" :data-source="employeeList" @on-change="bmfzrChange"></pulldown>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="部门电话" prop="bmdh">
                                <i-input v-model="saveBmData.bmdh" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="所在城市" prop="szcsid">
                                <ve-citycard v-model="saveBmData.szcsid" style="width:100%;" :search="true" placeholder="search..." @data-change="changeCity" search-url="/custom/kj/city/getSearchCity" slide-url="/custom/kj/city/getCityList"></ve-citycard>
                                <!--<Cascader v-model="saveBmData.countryid" :data="countryList" filterable change-on-select @on-change="changeCity"></Cascader>-->
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="详细地址" prop="szdz">
                                <i-input v-model="saveBmData.szdz" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="财务主管" prop="cwzg">
                                <pulldown v-if="addDept" v-model="saveBmData.cwzg" class="demo-input" data-type="2" data-source="/custom/kj/employee/getEmployeeList" @on-change="cwzgChange"></pulldown>
                            </Form-item>
                        </i-col>
                    </div>
                </Row>
            </i-form>
        </Modal>
        <Modal width="70%" ok-text="保存" @on-ok="saveEmployee" :loading="addload" @on-cancel="cancelDept" v-model="addEmp" class="vetech-modal" scrollable="true" title="新增员工" :mask-closable="false">
            <i-form :model="addEmployee" :inline="false" :label-width="90" :show-message="true">
                <Row>
                    <div>
                        <i-col :sm="12" >
                            <Form-item label="所属公司">
                                <!--<pulldown  v-if="addEmp" v-model="addEmp.ssgsid" class="demo-input" data-type="1" :data-source="deptList" @on-change="deptChange"></pulldown>-->
                                {{breadList[0]}}
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="所属部门">
                                <!--<pulldown  v-if="addEmp" v-model="addEmp.sjid" class="demo-input" data-type="1" :data-source="deptList" @on-change="deptChange"></pulldown>-->
                                {{breadList[breadList.length-1]}}
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="工号" prop="gh">
                                <i-input v-model="addEmployee.gh" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="性别" prop="xb">
                                <radio-group  v-model="xb">
                                    <Radio label="男" ></Radio>
                                    <Radio label="女"></Radio>
                                </radio-group>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="姓名" prop="xm">
                                <i-input v-model="addEmployee.xm" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="英文名称" prop="ywxm">
                                <i-input v-model="addEmployee.ywxm" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="电话号码" prop="dhhm">
                                <i-input v-if="editBm" v-model="addEmployee.dhhm" clearable type="text" placeholder="请输入"></i-input >
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="手机号码" prop="sjhm">
                                <i-input v-model="addEmployee.sjhm" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="国际电话区号" prop="gjdhqh">
                                <i-input v-if="editBm" v-model="addEmployee.gjdhqh" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="联系邮箱" prop="lxyx">
                                <i-input v-model="addEmployee.lxyx" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="联系地址" prop="lxdz">
                                <i-input v-model="addEmployee.lxdz" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="籍贯" prop="jg">
                                <i-input v-model="addEmployee.jg" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="生日" prop="sr">
                                <i-input v-model="addEmployee.sr" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="是否秘书" prop="sfms">
                                <i-input v-model="addEmployee.sfms" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="报销委托人" prop="bxwtr">
                                <i-input v-model="addEmployee.bxwtr" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="常驻工作地" prop="czgzd">
                                <i-input v-model="addEmployee.czgzd" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="银行账户名" prop="yhzhm">
                                <i-input v-model="addEmployee.yhzhm" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="银行开户行" prop="yhkhh">
                                <i-input v-model="addEmployee.yhkhh" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="银行账号" prop="yhzh">
                                <i-input v-model="addEmployee.yhzh" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" >
                            <Form-item label="数据权限类型" prop="sjqxlx">
                                <i-input v-model="addEmployee.sjqxlx" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                    </div>
                </Row>
            </i-form>
        </Modal>
        <Modal width="70%" ok-text="保存" @on-ok="editDept" v-model="editBm" class="vetech-modal" scrollable="true" title="编辑部门" :mask-closable="false">
            <i-form ref="editBmData" :model="editBmData" :inline="false" :label-width="80"  :show-message="true">
                <Row>
                    <div>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="所属公司">
                                {{bmvo.ssgsmc}}
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="上级部门">
                                <div v-if="bmvo.sjbmmc=='无'">
                                    无
                                </div>
                                <div v-else>
                                    <!--<pulldown  v-if="editBm" v-model="bmvo.sjid" class="demo-input" data-type="1" :data-source="deptList" @on-change="deptChange"></pulldown>-->
                                    {{bmvo.sjbmmc}}
                                </div>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="部门名称" prop="mc">
                                <i-input v-model="bmvo.mc" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="部门简称" prop="jc">
                                <i-input v-model="bmvo.jc" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="部门编号" prop="bh">
                                <i-input v-model="bmvo.bh" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="负责人" prop="bmfzr">
                                <pulldown v-if="editBm" v-model="bmvo.bmfzr" class="demo-input" data-type="1" :data-source="employeeList" @on-change="empChange"></pulldown>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="部门电话" prop="bmdh">
                                <i-input v-model="bmvo.bmdh" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="所在城市" prop="szcsid">
                                <!--<Cascader v-if="editBm" v-model="countryid" :data="countryList" filterable change-on-select @on-change="changeCity"></Cascader>-->
                                <ve-citycard :datas="bmvo.szcsid" style="width:100%;" :search="true" placeholder="search..." @data-change="changeCity" search-url="/custom/kj/city/getSearchCity" slide-url="/custom/kj/city/getCityList"></ve-citycard>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="详细地址" prop="szdz">
                                <i-input v-model="bmvo.szdz" clearable type="text" placeholder="请输入"></i-input>
                            </Form-item>
                        </i-col>
                        <i-col :sm="12" class="pb20 pt10">
                            <Form-item label="财务主管" prop="cwzg">
                                <pulldown v-if="editBm" v-model="bmvo.cwzg" class="demo-input" data-type="1" :data-source="employeeList" @on-change="empChange"></pulldown>
                            </Form-item>
                        </i-col>
                    </div>
                </Row>
            </i-form>
        </Modal>
    </div>
</div>
</body>
</html>